BRIDGE_BASE_URL=http://127.0.0.1:37777
LOOKIN_CLI_PATH=lookin-cli
LOOKIN_MODE=device
LOOKIN_HOST=127.0.0.1
LOOKDEBUG_DEVICE_UDID=<your-device-udid>
IPROXY_PATH=iproxy
LOOKIN_LOCAL_PORT=47175
LOOKIN_REMOTE_PORT=47175
BRIDGE_LOCAL_PORT=37777
BRIDGE_REMOTE_PORT=37777
LOOKIN_SCREENSHOT_COMMAND=
